<!doctype html>
<!--[if IE 9]><html lang="{{ htmllang() }}" class="lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ htmllang() }}"> <!--<![endif]-->


<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% if record.title is defined %}{{ record.title|striptags }} - {% endif %}{{ app.config.get('general/sitename') }}</title>

    <meta name="viewport" content="width=device-width, maximum-scale=1.0"/>

    <link rel="stylesheet" href="{{ (paths.theme ~ 'assets/main.css') | versioned }}"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700|Work+Sans:400,500,700' rel='stylesheet' type='text/css'>

    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="row-expandable">
        <header id="main-header">
            <div class="container">
            {{ menu('main', '_menu_header_nav.twig') }}
            </div>
        </header>

        {% block content_outside_container %}{% endblock %}

        <section id="main-content">
            <div class="container">
            {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    
    <footer id="main-footer">
        <div class="container">
            {{ menu('main', '_menu_footer_nav.twig') }}
            <div class="copyright">
                Copyright &copy; {{ "now"|date('Y', timezone="America/Los_Angeles") }} <div class="footer_logo"></div>
            </div>
            <div class="credits">
                <p>Design by <a href="http://matthewfraser.ca">Matthew Fraser</a></p>
                <p>Backend by <a href="http://t2t2.eu">t2t2</a></p>
            </div>
        </div>
    </footer>

    <script src="{{ (paths.theme ~ 'assets/main.js') | versioned }}"></script>

</body>
</html>