<!doctype html>
<!--[if lte IE 9]><html lang="{{ htmllang() }}" class="lt-ie10"> <![endif]-->
<!--[if gt IE 9 | !IE ]><!--> <html lang="{{ htmllang() }}"> <!--<![endif]-->

<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700|Work+Sans:400,500,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% if record.title is defined %}{{ record.title|striptags }} - {% endif %}{{ app.config.get('general/sitename') }}</title>

    <meta name="viewport" content="width=device-width, maximum-scale=1.0"/>

    <link rel="stylesheet" href="{{ (paths.theme ~ 'assets/main.css') | versioned }}"/>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="row-expandable">
        <header id="main-header">
            <div class="container">
            {{ menu('main', '_menu_header_nav.twig') }}
            </div>
        </header>

        {%- if app.config.get('general/services/livehub_config_url') is not empty 
            and app.config.get('general/services/livehub_interval') is not empty -%}
        <section id="live" data-live-config="{{ app.config.get('general/services/livehub_config_url') }}" data-live-check-interval="{{ app.config.get('general/services/livehub_interval') }}">
            <div class="container">
                <div class="icon-live"></div><a class="live-notification" data-toggle="collapse" href="#live-members" aria-expanded="false">Members Live Now</a>
                <div id="live-members" class="collapse"><hr></div>
            </div>
        </section>
        {%- endif -%}

        {% block content_outside_container %}{% endblock %}

        <section id="main-content">
            <div class="container">
            {% block content %}{% endblock %}
            </div>
        </section>
    </div>
    
    <footer id="main-footer">
        <div class="container">
            {{ menu('main', '_menu_footer_nav.twig') }}
            <div class="copyright">
                Copyright &copy; {{ "now"|date('Y', timezone="America/Los_Angeles") }} <div class="footer_logo"></div>
            </div>
            <div class="credits">
                <p>Design by <a href="http://matthewfraser.ca">Matthew Fraser</a></p>
                <p>Backend by <a href="http://t2t2.eu">t2t2</a></p>
            </div>
        </div>
    </footer>

    <script>
        if (!window.Promise) { document.write('<script src="{{ (paths.theme ~ 'assets/polyfill.js') | versioned }}"><\/script>'); }
    </script>
    <script src="{{ (paths.theme ~ 'assets/main.js') | versioned }}"></script>

</body>
</html>