{% extends "_layout.twig" %}

{% block content %}
	{% set month = "" %}
	<section id="calendar">
	<h1 class="section-heading">Calendar</h1>
	{% if records is empty %}
	<p class="no-content">There are no events.</p>
	{% endif %}
	{% set cal_pager = pager('', 1, '_pager_calendar.twig') %}
	{{ cal_pager }}
    {% for event in records %}
    	{% set month_change = false %}
    	{% set month_string = event.event_time|date("F Y") %}
		{% if month != month_string %}
			{% if loop.first != true %}<hr class="bold">{% endif %}
			<div class=cal-month>{{ month_string }}</div>
			{% set month_change = true %}
			{% set month = month_string %}
		{% else %}<hr>{% endif %}
		<article class="cal-event">
            <div class="cal-event-date" >{{ event.event_time | date('jS') }}</div>
            <div class="cal-event-content">
            	<a href="{{ event.link }}"><h2>{{ event.title }}</h2></a>
        		{% if event.event_time is not empty %}
	        		<p><span class="cal-event-detail">When? </span>
	        		{% set date_with_tz = "#{event.event_time} #{event.event_time_zone}" %}
	        		{% if event.time_display_mode == "user" %}
	        			{# set the title to the event time, convert the text #}
	        			{# Need to show full dates on the user calculated times, for cases where the change in timezone affects the day/month/year  #}
	        			<time title="{{ date_with_tz | date("g:ia T", timezone=event.event_time_zone) }}" data-local-time="text" data-time="{{ event.event_time | date('Y-m-d H:i')}}" date-zone="{{ event.event_time_zone }}" >{{ date_with_tz | date("g:ia T",  timezone=event.event_time_zone) }}</time>
	        			}
	        		{% elseif event.time_display_mode == "both" %}
	        			{# show both times in text #}
	        			<time>{{ date_with_tz | date("g:ia T",  timezone=event.event_time_zone) }}</time><time data-secondary-time data-local-time="text" data-time="{{ event.event_time | date('Y-m-d H:i')}}" date-zone="{{ event.event_time_zone }}"></time>
	        			{# should add space and bracket around the user time with the js, so it falls back with no js well, use data-secondary-time to differentiate #}
	        		{# Either set to local or nothing#}
	        		{% else %}
	        			{# show local event time, convert title to user time #}
	        			<time data-local-time="title" data-time="{{ event.event_time | date('Y-m-d H:i')}}" date-zone="{{ event.event_time_zone }}" >{{ date_with_tz | date("g:ia T", timezone=event.event_time_zone) }}</time>
	        		{% endif %}
	        		</p>
	        	{% endif %}
            	{% if event.location is not empty and event.location.formatted_address is not empty %}
            		{% if event.location_informal is empty %}
            			<p><span class="cal-event-detail">Where? </span>{{ event.location.formatted_address }}</p>
            		{% else %}
            			<p><span class="cal-event-detail">Where? </span>{{ event.location_informal }}<br>({{ event.location.formatted_address }})</p>
            		{% endif %}
	            {% endif %}
            	{% if event.web_location is not empty %}
            		<p><span class="cal-event-detail">Link? </span><a href="{{ event.web_location }}">{{ event.web_location_title is empty ? event.web_location : event.web_location_title }}</a></p>
            	{% endif %}
            	<p>{{ event.body|excerpt(300) }}</p>
            	<p><a href="{{ event.link }}">(more info)</a></p>
        	</div>

        </article>
    {% endfor %}
    {{ cal_pager }}
	</section>

    


{% endblock %}