{% extends "_layout.twig" %}



{% block content %}

	<h1 class="section-heading">Calendar</h1>
	{% set cal_pager = pager('', 1, '_pager_calendar.twig') %}

	{{ cal_pager }}
	{% set month = "" %}

    {% for event in events %}
		{% if month != event.event_time|date("F Y") %}
			<dt>{{ event.event_time|date("F Y") }}</dt>
			{% set month = event.event_time|date("F Y") %}
		{% endif %}
        <article class="event">

            <h3>{{ event.event_time | date('d') }}</h3>
            <h2>{{ event.title }}</h2>

            {{ event.excerpt(300) }}

        </article>
    {% endfor %}

    {{ cal_pager }}


{% endblock %}