{% extends "_layout.twig" %}

{% block content_outside_container %}
	<section class="about-panel">
		<div class="container">
			{% set show_map =	event.location is not empty 
		        			and record.location.formatted_address is not empty 
		        			and record.location.latitude is not empty
		        			and app.config.get('general/services/google_maps_embed') is not empty 
		    %}

			<div class="row{% if show_map %} with-map{% endif %}">
		        <section class="cal-event-details">
		        	<h1 class="main">{{ record.title }}</h1>
		        	{% if record.event_time is not empty %}
		        		<p><span class="cal-event-detail">When? </span>
		        		{% set date_with_tz = "#{record.event_time} #{record.event_time_zone}" %}
		        		{% if record.time_display_mode == "user" %}
		        			{# set the title to the event time, convert the text #}
		        			<time title="{{ date_with_tz | date("F jS, Y @ g:ia T", timezone=record.event_time_zone) }}" data-local-time="text" data-time="{{ record.event_time | date('Y-m-d H:i')}}" date-zone="{{ record.event_time_zone }}" >{{ date_with_tz | date("F jS, Y @ g:ia T",  timezone=record.event_time_zone) }}</time>
		        			}
		        		{% elseif record.time_display_mode == "both" %}
		        			{# show both times in text #}
		        			<time>{{ date_with_tz | date("F jS, Y @ g:ia T",  timezone=record.event_time_zone) }}</time><time data-secondary-time data-local-time="text" data-time="{{ record.event_time | date('Y-m-d H:i')}}" date-zone="{{ record.event_time_zone }}"></time>
		        			{# should add space and bracket around the user time with the js, so it falls back with no js well, use data-secondary-time to differentiate #}
		        		{# Either set to local or nothing#}
		        		{% else %}
		        			{# show local event time, convert title to user time #}
		        			<time data-local-time="title" data-time="{{ record.event_time | date('Y-m-d H:i')}}" date-zone="{{ record.event_time_zone }}" >{{ date_with_tz | date("F jS, Y @ g:ia T", timezone=record.event_time_zone) }}</time>
		        		{% endif %}
		        		</p>
		        	{% endif %}
		        	
            	{% if record.location is not empty and record.location.formatted_address is not empty %}
            		{% if record.location_informal is empty %}
            			<p><span class="cal-event-detail">Where? </span>{{ record.location.formatted_address }}</p>
            		{% else %}
            			<p><span class="cal-event-detail">Where? </span>{{ record.location_informal }}<br>({{ record.location.formatted_address }})</p>
            		{% endif %}
	            {% endif %}
	        	{% if record.web_location is not empty %}
	        		<p><span class="cal-event-detail">Link? </span><a href="{{ record.web_location }}">{{ record.web_location_title is empty ? record.web_location : record.web_location_title }}</a></p>
	        	{% endif %}
		        </section>
		        {% if show_map %}
		        <section class="cal-event-map">
		        	<div class="embed-responsive embed-responsive-16by9">
			        	<iframe src="https://www.google.com/maps/embed/v1/place?zoom=14
			        	&q={{ record.location.formatted_address }}
			      		&center={{ record.location.latitude }},{{ record.location.longitude }}
			      		&key={{ app.config.get('general/services/google_maps_embed') }}">
			  			</iframe>
		  			</div>
		        </section>
		    	{% endif %}
			</div>
		</div>
	</section>
{% endblock %}

{% block content %}

    <article class="cal-event-content">

    	<h1 class="section-heading">Event Description</h1>
        <section class="cal-event-body">
        	{{ record.body }}
        </section>
    </article>

{% endblock %}