{% extends "_layout.twig" %}
{% import "_local_time.twig" as localTime %}

{% block content_outside_container %}
	<section class="about-panel">
		<div class="container">
			{% set show_map =	event.location is not empty 
		        			and record.location.formatted_address is not empty 
		        			and record.location.latitude is not empty
		        			and app.config.get('general/services/google_maps_embed') is not empty 
		    %}

			<div class="row{% if show_map %} with-map{% endif %}">
		        <section class="cal-event-details">
		        	<h1 class="main">{{ record.title }}</h1>
		        	{% if record.event_time is not empty %}
		        		<p><span class="cal-event-detail">When? </span>
					        {{ localTime.render(event.event_time, event.event_time_zone, event.time_display_mode, true) }}
		        		</p>
		        	{% endif %}
		        	
            	{% if record.location is not empty and record.location.formatted_address is not empty %}
            		{% if record.location_informal is empty %}
            			<p><span class="cal-event-detail">Where? </span>{{ record.location.formatted_address }}</p>
            		{% else %}
            			<p><span class="cal-event-detail">Where? </span>{{ record.location_informal }}<br>({{ record.location.formatted_address }})</p>
            		{% endif %}
	            {% endif %}
	        	{% if record.web_location is not empty %}
	        		<p><span class="cal-event-detail">Link? </span><a href="{{ record.web_location }}">{{ record.web_location_title is empty ? record.web_location : record.web_location_title }}</a></p>
	        	{% endif %}
		        </section>
		        {% if show_map %}
		        <section class="cal-event-map">
		        	<div class="embed-responsive embed-responsive-16by9">
			        	<iframe src="https://www.google.com/maps/embed/v1/place?zoom=14
			        	&q={{ record.location.formatted_address }}
			      		&center={{ record.location.latitude }},{{ record.location.longitude }}
			      		&key={{ app.config.get('general/services/google_maps_embed') }}">
			  			</iframe>
		  			</div>
		        </section>
		    	{% endif %}
			</div>
		</div>
	</section>
{% endblock %}

{% block content %}

    <article class="cal-event-content">

    	<h1 class="section-heading">Event Description</h1>
        <section class="cal-event-body">
        	{{ record.body }}
        </section>
    </article>

{% endblock %}