{% extends "_layout.twig" %}
{% from "_utilities.twig" import retina_crop %}

{% block content_outside_container %}
	<section id="about" class="about-panel">
		<div class="container">
			<div class="about_logo"></div>
			<div class="about_text">
				{{ record.templatefields.about_text }}
			</div>
		</div>
		<div class="about-panel-stat-line">
			<div class="container">
				<span class="h4">STATISTICS</span>
				<div>
					<span><span class="stat-heading">TOTAL VIEWS:</span> {{ record.templatefields.youtube_views|reverse|split('',3)|join(',')|reverse }}</span>
					<span><span class="stat-heading">TOTAL SUBSCRIBERS:</span> {{ record.templatefields.youtube_subscribers|reverse|split('',3)|join(',')|reverse }}</span>
					<span><span class="stat-heading">TOTAL VIDEOS:</span> {{ record.templatefields.youtube_videos|number_format }}</span>
				</div>
			</div>
		</div>
	</section>
	<section id="hero">
		<div class="container">
			<div class="row {% if record.templatefields.promo_image is empty %}no-promo{% endif %}">
				<div class="common-links">
					{{ menu('common_links', '_menu_common_links.twig') }}
				</div>
				{% if record.templatefields.promo_image is not empty %}
				<div class="promo">
					{% if record.templatefields.promo_link is not empty %}<a href="{{ record.templatefields.promo_link }}">{% endif %}
						<img {{ retina_crop(record.templatefields.promo_image, 864, 486) }} class="img-fluid" alt="{{ record.templatefields.promo_image_title }}">
					{% if record.templatefields.promo_link is not empty %}</a>{% endif %}
				</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}

{% block content %}
    <h1 class="section-heading">Latest News</h1>
    {% setcontent news = 'news/latest/3' %}
    {% if news is not empty %}
    	<section id="latest-news">
		    {% for item in news %}
		    	<a href="{{ item.link }}" class="news-item news-item-list news-item-latest">
		    		<div class="news-item-thumb">
			    		{%- if item.image is not empty -%}
			    			<img {{ retina_crop(item.image, 384, 216) }} alt="{{ item.values.image.title }}">
			    		{%- else -%}
			    			<div class="no-thumb no-thumb-16x9"></div>
			    		{%- endif -%}
		    		</div>

		    		<div class="news-item-body">
		    			<div class="detail published">{{ item.datepublish|date("F jS, Y")}}</div>
		    			<h2>{{ item.title|length > 120 ? item.title|slice(0,120)|striptags ~ ' ...' : item.title }}</h2>
		    		</div>
		    	</a>
		    {% endfor %}
		</section>
		<a class="important-link" href="{{paths.root}}news">More News...</a>
	{% else %}
	<p class="no-content">There is no news.</p>
	{% endif %}
	<hr class="bold">
	<h1 class="section-heading">Upcoming Events</h1>
	{% setcontent events = 'events' where {event_time: '> 3 days ago'} limit 5 orderby 'event_time' %}
	{% set month = "" %}
	{% if events is not empty %}
		<dl id="upcoming-events">
		{% for event in events %}
			{% if month != event.event_time|date("F Y") %}
				{% if loop.first != true %}<hr>{% endif %}
				<dt>{{ event.event_time|date("F Y") }}</dt>
				{% set month = event.event_time|date("F Y") %}
			{% endif %}
			<dd><b>{{ event.event_time|date("jS") }}</b> {{ event.title }} <a href="{{ event.link }}">(details)</a></dd>
		{% endfor %}
		</dl>
		<a class="important-link" href="{{paths.root}}calendar">Full Calendar...</a>
	{% else %}
	<p class="no-content">There are no upcoming events.</p>
	{% endif %}
{% endblock %}