{% extends "_layout.twig" %}

{% block content_outside_container %}
	<section id="about" class="about-panel">
		<div class="container">
			<div class="about_logo"></div>
			<div class="about_text">
				{{ record.templatefields.about_text }}
			</div>
		</div>
		<div class="about-panel-stat-line">
			<div class="container">
				<span class="h4">STATISTICS</span>
				<div>
					<span><span class="stat-heading">TOTAL VIEWS:</span> {{ record.templatefields.youtube_views|number_format }}</span>
					<span><span class="stat-heading">TOTAL SUBSCRIBERS:</span> {{ record.templatefields.youtube_subscribers|number_format }}</span>
					<span><span class="stat-heading">TOTAL VIDEOS:</span> {{ record.templatefields.youtube_videos|number_format }}</span>
				</div>
		</div>
	</section>
	<section id="hero">
		<div class="container">
			<div class="row {% if record.templatefields.promo_image is empty %}no-promo{% endif %}">
				<div class="common-links">
					{{ menu('common_links', '_menu_common_links.twig') }}
				</div>
				{% if record.templatefields.promo_image is not empty %}
				<div class="promo">
					{% if record.templatefields.promo_link is not empty %}<a href="{{ record.templatefields.promo_link }}">{% endif %}
						<img src="{{ record.templatefields.promo_image|thumbnail(864, 486) }}" class="img-fluid" alt="{{ record.templatefields.promo_image.title }}">
					{% if record.templatefields.promo_link is not empty %}</a>{% endif %}
				</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}

{% block content %}
    <h1>Latest News</h1>
    {% setcontent news = 'news/latest/3' %}
    {% if news is not empty %}
    	<div id="latest-news">
		    {% for item in news %}
		    	<a href="{{ item.link }}" class="latest-news-item">
		    		<div class="latest-news-thumb"><img src="{% if item.image is not empty %}{{ item.image|thumbnail(384, 216) }}{% else %}{{ paths.theme }}assets/images/news_thumbnail.jpg{% endif %}" alt="{{ item.title }}"></div>
		    		<div class="latest-news-body">
		    			<span class="published">{{ item.datepublish|date("F jS, Y")}}</span>
		    			<span class="title">{{ item.title|length > 120 ? item.title|slice(0,120)|striptags ~ ' ...' : item.title }}</span>
		    		</div>
		    	</a>
		    {% endfor %}
		</div>
		<a class="important-link" href="{{paths.root}}news">More News...</a>
	{% endif %}
	<hr class="bold">
	<h1>Upcoming Events</h1>
	{% setcontent events = 'events' where {event_time: '> 3 days ago'} limit 5 orderby 'event_time' %}
	{% set month = "" %}
	{% if events is not empty %}
		<dl id="upcoming-events">
		{% for event in events %}
			{% if month != event.event_time|date("F Y") %}
				{% if loop.first != true %}<hr>{% endif %}
				<dt>{{ event.event_time|date("F Y") }}</dt>
				{% set month = event.event_time|date("F Y") %}
			{% endif %}
			<dd><b>{{ event.event_time|date("jS") }}</b> {{ event.title }} <a href="{{ event.link }}">(details)</a></dd>
		{% endfor %}
		</dl>
		<a class="important-link" href="{{paths.root}}calendar">Full Calendar...</a>
	{% endif %}
{% endblock %}