{% extends "_layout.twig" %}

{% block content_outside_container %}
	<section id="about" class="about-panel">
		<div class="container">
			<div class="about_logo"></div>
			<div class="about_text">
				{{ record.templatefields.about_text }}
			</div>
		</div>
		<div class="about-panel-stat-line">
			<div class="container">
				<span class="h4">STATISTICS</span>
				<div>
					<span><span class="stat-heading">TOTAL VIEWS:</span> {{ record.templatefields.youtube_views|number_format }}</span>
					<span><span class="stat-heading">TOTAL SUBSCRIBERS:</span> {{ record.templatefields.youtube_subscribers|number_format }}</span>
					<span><span class="stat-heading">TOTAL VIDEOS:</span> {{ record.templatefields.youtube_videos|number_format }}</span>
				</div>
		</div>
	</section>
	<section id="hero">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-12 common-links">
					{{ menu('common_links', '_menu_common_links.twig') }}
				</div>
				<div class="col-md-9 col-xs-12 promo"><img src="{{ record.templatefields.promo_image|thumbnail(864, 486) }}" class="img-fluid" alt="{{ record.templatefields.promo_image.title }}"></div>
			</div>
		</div>
	</section>
{% endblock %}

{% block content %}
    <h1>Home</h1>

    <p>{{ record.body }}</p>
{% endblock %}