{% extends "_layout.twig" %}
{% from "_utilities.twig" import retina_crop %}

{% block content %}
{% spaceless %}
    <h1 class="section-heading">News</h1>
	{%- set news_pager = pager('', 2, '_pagination_general.twig','news') -%}
	{{ news_pager }}
    {% if records is empty %}
    <p class="no-content">There are is no news.</p>
    {% endif %}
	<div class="news-list">
    {%- for item in records -%}
    	{{ (loop.first == true) ? "" : "<hr>" }}
    	<article class="news-item news-item-list">
    		<div class="news-item-thumb"><a href="{{ item.link }}">
	    		{%- if item.image is not empty -%}
	    			<img {{ retina_crop(item.image, 384, 216) }} alt="{{ item.values.image.title }}">
	    		{%- else -%}
                    <div class="no-thumb no-thumb-16x9"></div>
	    		{%- endif -%}
    		</a></div>
    		<div class="news-item-body">
    			<h2><a href="{{ item.link }}">{{ item.title|length > 120 ? item.title|slice(0,120)|striptags ~ ' ...' : item.title }}</a></h2>
    			<div class="detail">{{ item.datepublish|date("F jS, Y")}}</div>
    			{{ item.body|excerpt(300) }}
    		</div>
    	</article>
    {% endfor %}
	</div>
    {{ news_pager }}
{% endspaceless %}

{% endblock %}