{% extends "_layout.twig" %}
{% from "_utilities.twig" import retina_crop %}

{%- block content -%}
    <article class="news-item">

        <h1 class="main">{{ record.title }}</h1>
        <div class="detail"><span class="detail-label">Date Published: </span>{{ item.datepublish|date("F jS, Y")}}</div>
		{% if record.image is not empty %}
		<figure class="main-image">
			<img {{ retina_crop(record.image, 832, 468) }} alt="{{ record.title }}">
			{%- if record.values.image.title is not empty -%}
			<figcaption>{{ record.values.image.title }}</figcaption>
			{%- endif -%}
		</figure>
		{% endif %}

        {{ record.body }}

    </article>
{%- endblock -%}